Final flow temp normalcy detection ai.json
[{"id":"b4f1082b.0cff38","type":"tab","label":"Temperature normalcy prediction","disabled":false,"info":""},{"id":"d25b7b7b.99e278","type":"function","z":"b4f1082b.0cff38","name":"Api key & Temperature value provider","func":"global.set(\"temperature\",msg.payload.d.temperature)\n\nvar apikey=\"Yfhyy8NwlNB46w_P-7MKmHSN2G2z1rHb598ncTtTTybP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2270,"y":1360,"wires":[["dae65706.569738"]]},{"id":"dae65706.569738","type":"http request","z":"b4f1082b.0cff38","name":"Accessing ibm cloud using api key","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":2380,"y":1440,"wires":[["c6d8879d.048688","1a75f20d.7be37e"]]},{"id":"c6d8879d.048688","type":"debug","z":"b4f1082b.0cff38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2650,"y":1440,"wires":[]},{"id":"1a75f20d.7be37e","type":"function","z":"b4f1082b.0cff38","name":"Proving temperature to ML model","func":"var temperature = global.get(\"temperature\")\n\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\"]],\"values\": [[temperature]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2440,"y":1520,"wires":[["8d7696a4.29a428"]]},{"id":"8d7696a4.29a428","type":"http request","z":"b4f1082b.0cff38","name":"calling the machine learning model","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ba02a488-62fa-43a8-bf5c-95ca98e86c2e/predictions?version=2021-03-14","tls":"","persist":false,"proxy":"","authType":"","x":2520,"y":1600,"wires":[["2b061f78.df5ac","912dd147.61727"]]},{"id":"2b061f78.df5ac","type":"debug","z":"b4f1082b.0cff38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2790,"y":1600,"wires":[]},{"id":"be10c632.e79868","type":"debug","z":"b4f1082b.0cff38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2850,"y":1720,"wires":[]},{"id":"912dd147.61727","type":"function","z":"b4f1082b.0cff38","name":"analysing ML model output","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nif (msg.payload==0)\n{\n    msg.payload=\"Everything is normal\";\n}\nelse\n{\n    msg.payload=\"Temperature is beyond limits\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2600,"y":1680,"wires":[["be10c632.e79868","d30d4df8.8d8d1"]]},{"id":"d30d4df8.8d8d1","type":"ui_text","z":"b4f1082b.0cff38","group":"6fed709e.76d93","order":9,"width":10,"height":2,"name":"Prediction to display","label":"Prediction","format":"{{msg.payload}}","layout":"row-center","x":2880,"y":1680,"wires":[]},{"id":"adf6d9bd.954728","type":"ibmiot in","z":"b4f1082b.0cff38","authentication":"apiKey","apiKey":"845770f.bfa8e9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"apnode","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":2150,"y":1260,"wires":[["39188a9d.562116","d25b7b7b.99e278","a34f7dc3.1e583"]]},{"id":"39188a9d.562116","type":"debug","z":"b4f1082b.0cff38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.temperature","targetType":"msg","statusVal":"","statusType":"auto","x":2400,"y":1220,"wires":[]},{"id":"5b0f3a1e.dca1c4","type":"ui_gauge","z":"b4f1082b.0cff38","name":"Temperature to display","group":"6fed709e.76d93","order":1,"width":10,"height":6,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2720,"y":1220,"wires":[]},{"id":"a34f7dc3.1e583","type":"function","z":"b4f1082b.0cff38","name":"Extracting temperature value","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2420,"y":1280,"wires":[["5b0f3a1e.dca1c4","3b1b1dc7.cd33d2"]]},{"id":"3b1b1dc7.cd33d2","type":"ui_chart","z":"b4f1082b.0cff38","name":"Temperature to plot in graph","group":"6fed709e.76d93","order":2,"width":17,"height":8,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2740,"y":1280,"wires":[[]]},{"id":"6fed709e.76d93","type":"ui_group","name":"Final project","tab":"84fad7ec.0b1208","order":1,"disp":true,"width":30,"collapse":false},{"id":"845770f.bfa8e9","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"84fad7ec.0b1208","type":"ui_tab","name":"Temperature normalcy detection","icon":"dashboard","disabled":false,"hidden":false}]